/* Variables */
:root {
    --bs-body-bg: #DADBD5;
    --cd-light-gray-1: #EAEAEA;
    --cd-light-gray-2: #FAFAFA;
    --cd-light-gray-3: #F3EEEA;
}

/* ------------------------------------ */

/* Generals */

.cd-boolzap-outside-header {
    height: 150px;
    background-color: #009688;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}

/* ------------------------------------ */

/* Boolzap */

.cd-boolzap-container {
    height: 95vh;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
    background-color: #fff;
    position: relative;
    padding-right: 0;
    padding-left: 0;
}

/* ------------------------------------ */

/* Left column */

.cd-left-column {
    border-right: 1px solid #D6D6D6;
}

.cd-user-bar {
    flex-basis: 60px;
    background-color: var(--cd-light-gray-1);
}

.cd-notifications-bar {
    flex-basis: 75px;
    background-color: #8EDAFC;
}

.cd-search-bar {
    flex-basis: 45px;
    background-color: var(--cd-light-gray-2)
}

.cd-user-list {
    height: 100%;
    overflow: auto;
}

/* ------------------------------------ */

/* Right column */

.cd-chat-header {
    flex-basis: 60px;
    background-color: var(--cd-light-gray-1);
}

.cd-chat-content {
    background-image: url(../img/mine.jpg);
    overflow: auto;
}

.cd-chat-message {
    flex-basis: 60px;
    background-color: var(--cd-light-gray-3);
}