/* Variables */
:root {
    --bs-body-bg: #DADBD5;
    --cd-light-gray-1: #EAEAEA;
    --cd-light-gray-2: #FAFAFA;
    --cd-light-gray-3: #F3EEEA;
    --cd-dark-gray-1: #B1B1B1;
    --cd-padding-xsmall: 5px;
    --cd-padding-small: 10px;
    --cd-padding-regular: 20px;
    --cd-padding-large: 30px;
}

/* ------------------------------------ */

/* Typography */

.cd-span-xsmall {
    font-size: 9px;
}

.cd-span-small {
    font-size: 11px;
}

.cd-span-regular {
    font-size: 12px;
}

.cd-span-large,
.cd-user-name {
    font-size: 14px;
}

/* ------------------------------------ */

/* Generals */

.cd-boolzap-outside-header {
    height: 150px;
    background-color: #009688;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}

.cd-round-pic {
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: #ffffff;
}

.cd-round-pic-small {
    height: 50px;
}

.cd-round-pic-large {
    height: 60px;
}

.cd-icon {
    font-size: 20px;
}

.cd-icon-dark {
    color: var(--cd-dark-gray-1);
}

.cd-icon-black {
    color: #6B7376;
}

.cd-icon-blue {
    color: #8EDAFC;
}

.cd-input {
    border-radius: 0;
    border: 1px solid #f5f5f5;
}

.cd-input-rounded {
    border-radius: 5px;
}

/* ------------------------------------ */

/* Boolzap */

.cd-boolzap-container {
    height: 95vh;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
    background-color: #fff;
    position: relative;
    padding-right: 0;
    padding-left: 0;
}


/* ------------------------------------ */

/* Left column */

.cd-left-column {
    border-right: 1px solid #D6D6D6;
}


/* ---- */

/* User Bar */

.cd-user-profile-bar {
    flex-basis: 70px;
    background-color: var(--cd-light-gray-1);
    padding: var(--cd-padding-small);
}


/* ---- */

/* Notification bar */

.cd-notifications-bar {
    flex-basis: 75px;
    background-color: #8EDAFC;
    padding: var(--cd-padding-small) var(--cd-padding-regular);
}


/* ---- */

/* Search bar */

.cd-search-bar {
    flex-basis: 45px;
    background-color: var(--cd-light-gray-2);
    padding: var(--cd-padding-small);
}

#search-bar-users {
    background-color: #ffffff;
    border-radius: 0;
    border: 1px solid #f5f5f5;
    padding: 0 var(--cd-padding-regular);
}


/* ---- */

/* User List */

.cd-user-chat-list {
    height: 100%;
    overflow: auto;
}

.cd-user-chat-item {
    padding: var(--cd-padding-small) var(--cd-padding-regular);
}

.selectedChat {
    background-color: #E9EBEB;
}


/* ------------------------------------ */

/* Right column */

.cd-chat-header {
    flex-basis: 70px;
    background-color: var(--cd-light-gray-1);
    padding: 0 var(--cd-padding-small);
}


/* ---- */

/* Chat content */

.cd-chat-content {
    background-image: url(../img/mine.jpg);
    overflow: auto;
}

.messageBox {
    padding: var(--cd-padding-small) var(--cd-padding-small) var(--cd-padding-xsmall) var(--cd-padding-small);
    background-color: #ffffff;
    min-width: 120px;
    max-width: 300px;
    border-radius: 10px;
}

.messageReceived {
    background-color: #ffffff;
}

.messageSent {
    background-color: #D5F9BA;
}


/* ---- */

/* Chat message */

.cd-chat-send-message {
    flex-basis: 60px;
    background-color: var(--cd-light-gray-3);
}

.cd-chat-send-message-icon {
    padding: 0 var(--cd-padding-large);
}